<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partial/head %>
    <title>Student Attendance Management System</title>
  </head>

  <body class="login">
    <div>
      <div class="login_wrapper">
    <div >
      <section class="login_content">
        <form id="signin" action="/signin" method="post">
          <h1>Signin</h1>
          <input type="email" class="form-control"id="email" name="email" value="" placeholder="Email" required><p>
            <input type="password" class="form-control" name="password" value="" placeholder="Password" required><p>
            <label><input type="checkbox" name="rememberme" id="rememberme" value="R">Remember me</label><p>
          <div>
            <input class="btn btn-default submit" type="submit" name="btn" value="Signin">
            <!-- <a class="btn btn-default submit" href="admin/plain">Signin</a> -->
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link">New to site?
              <a href="/signup" class="to_register"> Create Account </a>
            </p>

            <div class="clearfix"></div>
            <br />

          </div>
        </div>
      </div>
        </form>
      </section>
    </div>
  </body>
  <script src="/js/jquery.min.js" chrset="utf-8"></script>
  <script type="text/javascript">
  $(function(){
    <% if (messages.warn) { %>
      alert ('<%=messages.warn%>');
  <%
    }
  %>
  console.log('<%= email %>');
  <% if (email) {%>
    $('#rememberme').prop("checked", true);
    $('#email').val('<%=email%>');
    $('#password').focus();
  <% }  %>
});
  </script>
</html>
