<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Student Attendance Management System </title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="../vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="login">
    <div>

      <div class="login_wrapper">


        <div id="register">
          <section class="login_content">
            <form id="signup" action="/signup" method="post">
              <h1>Signup</h1>
              <input type="text" class="form-control" name="name" value="" placeholder="Name" required><p>
              <input type="email" id="email" class="form-control" name="email" value="" placeholder="Email" required><p>
              <input type="password" class="form-control" name="password" value="" placeholder="Password" required><p>
              <input type="password" class="form-control" name="repassword" value="" placeholder="Confirm Password" required><p>
              <input type="text" name="key" id="sec"  class="form-control" value="" placeholder="Security Key" required> <p>
              <input type="button" class="btn btn-default submit" id="save" name="button" value="SignUp"disabled>
              <div class="clearfix"></div>
              <div class="separator">
                <p class="change_link">Already a member ?
                  <a href="/signin" class="to_register"> Signin </a>
                </p>

                <div class="clearfix"></div>
                <br />

              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
  <script src="/js/jquery.min.js" charset="utf-8"></script>
  <script src="/js/jquery.validate.js" charset="utf-8"></script>
  <script type="text/javascript">
    var status = false;
    $('#sec').keyup(function (e) {
      if($('#sec').val()== "MT001"){
        $('#save').removeAttr('disabled');
      }
      console.log($('#sec').val());
    })
    $.validator.addMethod("pwcheck", function(value){
      return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) // consists of only these
                && /[a-z]/.test(value) // has a lowercase letter
                && /[A-Z]/.test(value) // has a uppercase letter
                && /\d/.test(value) // has a digit
    });
    $('#signup').validate({
      rules: {
        'repassword' : {
          equalTo: '[name="password"]'
        },
        'password':{
          pwcheck:true
        }
      },
      messages: {
        password:{
          pwcheck:"Type in uppercase letters, lowercase letters, and numbers.",
        }
      },
    });
    $('#save').on('click', function(){
      $.post(
        '/dupemail',
        { email: $('#email').val()}
      ).done(function(res){
        if(res.status){
          alert(res.msg);
          $('#email').select();
        }else{
          $('#signup').submit();
        }
      }).fail(function(err){
        alert(err.status + ' ' + err.responseText);
      });
    });
    <% if (messages.warn) { %>
      alert('<%=messages.warn%>');
    <%
        }
    %>
  </script>
</html>
