<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partial/head %>
    <title>Student Attendance Management System</title>
  </head>
  <body class="login">
    <div>
      <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form id="signin" action="/signin" method="post">
          <h1>Signin Form</h1>
          <div>
            <input type="text" class="form-control" placeholder="Username" required="" />
          </div>
          <div>
            <input type="password" class="form-control" placeholder="Password" required="" />
          </div>
          <div>
            <a class="btn btn-default submit" href="admin/plain">Signin</a>
            <a class="reset_pass" href="#">Lost your password?</a>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link">New to site?
              <a href="/signup" class="to_register"> Create Account </a>
            </p>

            <div class="clearfix"></div>
            <br />

          </div>
        </div>
      </div>
        </form>
      </section>
    </div>
  </body>
  <script type="text/javascript">
    <% if (messages.warn) { %>
      alert ('<%=messages.warn%>');
  <%
    }
  %>
  </script>
</html>
