<div class="profile clearfix">
  <div class="profile_pic">
    <img src="/images/user.png" alt="..." class="img-circle profile_img">
  </div>
  <div class="profile_info">
    <% if (user) { %>
      <h2><%=user.uname%></h2>
      <h2><%=user.email%></h2>
    <% } %>
  </div>
  <div class="clearfix"></div>
</div>
