<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <!-- <li>
          <h2><a href="../signin">Login</a></h2>
        </li> -->

         <h3 style="color:#1a1aff"><strong>Student Attendance Management System</strong></h3>

      </ul>
    </nav>
  </div>
</div>
